@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Segoe UI", sans-serif;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @apply text-white rounded px-4 py-2 transition-colors;
}

/* button:hover {
  background: hsl(200, 90%, 67%);
} */

td {
  text-align: center;
}

tbody > tr {
  border-top: 1px solid hsl(220, 5%, 89%);
}

th,
td {
  padding-block: 0.75rem;
  padding-inline: 1rem;
}

body {
  background: hsl(220, 14%, 96%);
  @apply min-h-screen flex
  /* background: hsl(30, 1%, 10%); */
  /* color: hsl(30, 1%, 90%); */
  /* @apply dark:bg-black */;
}
